td {
  padding: 6px;
}

.app {
  height: 500px;
  max-width: 900px !important;
  overflow: auto;
}

h1.title {
  font-size: 1.5rem;
  font-weight: 400;
  color: #3867fa;
  padding: 20px 0 10px;
}

p.description {
  margin-bottom: 20px;
  color: rgb(76, 76, 94);
}
